/*Movie Poster Hover Text*/
.hoverText {
  font-size: 12px;
  position: absolute;
  width: 180px;
  max-height: 150px;
  overflow: hidden;
  top: 20%;
  left: 5%;
  background: transparent;
  padding: 20px;
  display: none;
}
.hoverText p {
  color: #f5f9fc;
  font-size: 12px;
}
.poster {
  position: relative;
}

.poster-container:hover {
  opacity: 0.5;
}
.poster-container:hover .hoverText {
  display: block;
  opacity: 0.5;
}

.title {
  text-align: left;
  height: 35px;
  max-width: 180px;
  font-size: 14px;
}
.title span {
  font-size: 10px;
}
.title #genre,
#year,
#g,
#y {
  font-size: 9px;
}
.vote {
  background: #8091a5;
  border-radius: 5px;
  font-size: 18px;
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 180px;
  text-align: left;
}

.icons{
  color: #ffffff;
  text-align: right;
  padding-left: 50px;
  font-size: 12px;
}
