/* header */

#watch-app {
  width: 1042px;
  margin: 0 auto;
}
/* Title Bar */
.titleBar {
  background-color: #313541;
  display: block;
  color: #fff;
  text-decoration: underline;
  font-size: 24;
  padding-left: 16;
}

/* SearchBox */
.searchBox {
  margin-left: 7px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
}
/* scrollbar style */
::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #8091a5;
}

::-webkit-scrollbar-track {
  border-radius: 0;

  background: #8091a5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #50e3c2;
}
